.page-item {
  list-style: none;
  color: rgb(7, 7, 100);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.pagination {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: center;
}

.page-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: snow;
  text-decoration: none;
  background-color: rgb(7, 7, 100);
  padding: 0.5rem;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  margin: 0 0.2rem;
}

.page-item a[aria-label="Go to first page"],
.page-item a[aria-label="Go to last page"] {
  display: none;
}
